# ENV FILE PARA PRODUCCIÓN (InciTrack)
# Guardar como .env en el servidor 172.20.21.10

# BASE DE DATOS
DB_ENGINE=mssql
DB_HOST=172.20.21.3
DB_PORT=1433
DB_NAME=ProdOrquestador
DB_USER=orquestador_prod
DB_PASSWORD=OrqProd2026!

# JWT SECRET KEY DEL ORQUESTADOR
GRANCRM_JWT_SECRET=b_Z3u-DmUjqJ_WlWem5Vo_ckIrv2lrIoAzxAa_98ZT5LM6ZUUe_WGCgKhXj0dqXgSQI

# DJANGO SECRETS
SECRET_KEY=InciTrackProdSecretKey2026_CAMBIA_ESTO!
DEBUG=False
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=*

# FRONTEND URL
# URL a la cual InciTrack asume que la interfaz de usuario estará corriendo.
# Si el orquestador corre en la IP 172.20.21.10 o en dash.in-touchcrm.cl:
FRONTEND_URL=https://dash.in-touchcrm.cl
