orquestador/staticfiles/
orquestador/venv/
orquestador/__pycache__/
orquestador/*.pyc
orquestador/.env

# incitrack secrets & junk
incitrack/.env
incitrack/*.bak-*
incitrack/**/*.bak
incitrack/**/__pycache__/
