DJANGO_SECRET_KEY=django-insecure-cambia-esto-en-produccion-usa-una-clave-segura
DEBUG=False

# SQL Server — INTOUCHBD
DB_NAME=InciTrack
DB_USER=sa
DB_PASSWORD=champion
DB_HOST=172.20.21.50
DB_PORT=1433

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=noreply@in-touchcrm.cl
EMAIL_HOST_PASSWORD=ipwjbfqfumwetcio
DEFAULT_FROM_EMAIL=InciTrack <noreply@in-touchcrm.cl>
